<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <bean id="cir" class="examples.Circle"/>
   <bean id="tr" class="examples.Triangle"/>
   
   <bean id="obj1" class="examples.DrawingApp">
   		<constructor-arg ref="tr"/>
   </bean>  
   
</beans>